In [1]:
import matplotlib.pyplot as plt
import pandas as pd     
import yfinance as yf
%matplotlib inline 

plt.style.use('classic')

# Parameters:

# ticker: Ticker of the asset.
# period: This is the number of days/month of data required. The valid frequencies are 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max.
# interval: This is the frequency of data. The valid intervals are 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo.
# auto_adjust: True to download adjusted data, else False.

In [2]:
apple_minute_data = yf.download(tickers='AAPL', period='5D', interval= '1m', auto_adjust=True)

apple_minute_data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume
Datetime,,,,,
2024-09-09 09:30:00-04:00,220.899994,221.000000,219.899994,220.220001,2039996
2024-09-09 09:31:00-04:00,220.895004,220.959702,220.887497,220.949997,220428
2024-09-09 09:32:00-04:00,220.949997,220.949997,220.470001,220.485703,223685
2024-09-09 09:33:00-04:00,220.850006,220.899994,220.850006,220.899994,315694
2024-09-09 09:34:00-04:00,220.589996,220.608002,220.589996,220.600006,192113

In [3]:
# RESAMPLE 

# aggregate function 
ohlcv_dict = {
              'Open':'first', 
              'High':'max',
              'Low':'min',
              'Close':'last',
              'Volume':'sum'
              }

# resample data to 15 minutes data
apple_minute_data_15m = apple_minute_data.resample('15T').agg(ohlcv_dict)  

# drop the missing values 
apple_minute_data_15m.dropna(inplace=True)

# display the first 5 rows
apple_minute_data_15m.head()

C:\Users\carlo\AppData\Local\Temp\ipykernel_32452\2745343832.py:13: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  apple_minute_data_15m = apple_minute_data.resample('15T').agg(ohlcv_dict)

,Open,High,Low,Close,Volume
Datetime,,,,,
2024-09-09 09:30:00-04:00,220.899994,221.000000,217.820007,218.039993,5998612
2024-09-09 09:45:00-04:00,218.395004,219.649994,218.139999,219.220001,3386236
2024-09-09 10:00:00-04:00,219.220001,220.130005,219.130005,219.889999,2076211
2024-09-09 10:15:00-04:00,219.880005,219.979996,218.740005,218.875000,2123899
2024-09-09 10:30:00-04:00,218.880005,218.880005,217.850006,218.059998,2153416

In [4]:
# resample in 1H data

from tkinter.tix import InputOnly


apple_minute_data_1H = apple_minute_data.resample('1H').agg(ohlcv_dict)

apple_minute_data_1H.dropna(inplace=True)

apple_minute_data_1H.head()

C:\Users\carlo\AppData\Local\Temp\ipykernel_32452\103649429.py:3: DeprecationWarning: The Tix Tk extension is unmaintained, and the tkinter.tix wrapper module is deprecated in favor of tkinter.ttk
  from tkinter.tix import InputOnly
C:\Users\carlo\AppData\Local\Temp\ipykernel_32452\103649429.py:6: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  apple_minute_data_1H = apple_minute_data.resample('1H').agg(ohlcv_dict)

,Open,High,Low,Close,Volume
Datetime,,,,,
2024-09-09 09:00:00-04:00,220.899994,221.000000,217.820007,219.220001,9384848
2024-09-09 10:00:00-04:00,219.220001,220.130005,217.104996,217.199997,8359359
2024-09-09 11:00:00-04:00,217.199997,219.910004,217.050003,219.910004,4731863
2024-09-09 12:00:00-04:00,219.889999,220.610001,219.648300,220.149994,4662178
2024-09-09 13:00:00-04:00,220.160004,220.929993,218.484299,219.169403,7551797